.header-analysis,
.header-currencies {
  font: normal 3rem Roboto;
  color: blue;
  margin: 0;
}

.box-header {
  margin: 16px;
}

.custom-button {
  border: 2px solid blue;
  width: 82px;
  border-radius: 4px;
}